*.py[cod]
build/
dist/
.idea/
.env
.venv
*.so
*.sw[po]
nosetests.xml
.DS_Store
*.egg-info
*.egg
!.gitignore
*.orig
*.html~
.vagrant
dump.rdb
celerybeat.pid
celerybeat-schedule*
celerybeat-schedule.db
keys/
node_modules
.tmp
tests/.cache
api/static
static-src/libs
assets.json
.sass-cache
npm-debug.log
base/my_settings.*
lua_app/lua/my_settings.*
# Packages
lib
!static-src/front/scripts/lib
.coverage
TODO

*~
*.amr
*.mp3
*.bk
